@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;700&display=swap");

body {
  font-family: Roboto, sans-serif;
}
.navbar {
  background-color: #e15f41;
}

.nav .nav-link.active {
  background-color: #fff;
  color: #e15f41;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
  color: #fff;
}

.navbar-brand {
  font-family: Pacifico, cursive;
}
