@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400;600&display=swap");

body {
  background: #ccc;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 16px 0 0;
  background: black;
  margin-bottom: 56px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.menu > li {
  float: left; /*traz um elemento ao lado do outro*/
  list-style: none;
  padding: 16px;
  border-top: 4px solid transparent;
  position: relative;
}

.container-flex {
  display: flex;
}

#sobre {
  margin: 8px;
}

#texto_sobre {
  margin: 8px;
  padding: 32px 0;
}

#sobre-a-loja img {
  width: 331px;
  height: 244px;
  margin-right: 24px;
}

section {
  padding: 40px 0;
}

section h2 {
  margin-bottom: 16px;
  border-bottom: 4px solid #8921ac;
}

.lista-produtos li {
  list-style: none;
  max-width: 24.5%;
  margin-bottom: 24px;
}

.lista-produtos li img {
  max-width: 100%;
}

.lista-produtos li h3 {
  margin: 8px 0;
}

.item-central {
  margin: 0.5%;
}

button {
  display: block;
  width: 100%;
  padding: 8px 0;
  border: none;
  background-color: #8921ac;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
