@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400;600&display=swap");

body {
  background: #ccc;
  font-family: "Oxanium", cursive;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.menu {
  display: flex;
  margin: 20px;
}

.logo {
  margin: 20px;
}

.menu li a {
  color: #fff;
  margin-left: 30px;
  font-size: 25px;
  transition: 0.3s ease-in-out;
}

.menu li a:hover {
  background-color: #8921ac;
  padding: 10px 15px;
  border-radius: 10px;
}

.sobre {
  display: flex;
  margin-top: 50px;
}

.conteudo-sobre {
  display: block;
  margin: 0 10px;
}

.conteudo-sobre h2 {
  border-bottom: 3px solid #8921ac;
}

.conteudo-sobre p {
  padding: 20px 10px;
}

.titulo-produtos {
  margin-top: 50px;
  border-bottom: 3px solid #8921ac;
}

.produto {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.produto img {
  width: 100%;
}

.produto h3 {
  margin: 5px;
}

.produto p {
  margin: 5px;
}

.button {
  background-color: #8921ac;
  border: none;
  color: #fff;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Oxanium", cursive;
}
